<div class="card m-3">

  <div class="card-header">
    <div class="row">
        <a href="/post/{{id}}" data-post_id="{{id}}" class="col text-left">
            <p class="m-0" id="post-title">
                {{title}}
            </p>
        </a>
        <div class="col text-right">
            Posted by {{user.name}} on {{format_date createdAt}}
        </div>
    </div>
  </div>

  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{content}}</p>
    </blockquote>
  </div>

</div>
